[submodule "detection_rules/sigma"]
	path = detection_rules/sigma
	url = https://github.com/Neo23x0/sigma
[submodule "triggers/atomic-red-team"]
	path = triggers/atomic-red-team
	url = https://github.com/redcanaryco/atomic-red-team
[submodule "mitigation/atc-mitigation"]
	path = mitigation/atc-mitigation
	url = https://github.com/atc-project/atc-mitigation
[submodule "response/atc-react"]
	path = response/atc-react
	url = https://github.com/atc-project/atc-react
