[submodule "detection_rules/sigma"]
	path = detection_rules/sigma
	url = https://github.com/Neo23x0/sigma
[submodule "triggers/atomic-red-team"]
	path = triggers/atomic-red-team
	url = https://github.com/redcanaryco/atomic-red-team
[submodule "atomic-mitigation"]
	path = atomic-mitigation
	url = https://github.com/atomic-threat-coverage/atomic-mitigation
[submodule "mitigations/atomic-mitigation"]
	path = mitigations/atomic-mitigation
	url = https://github.com/atomic-threat-coverage/atomic-mitigation
[submodule "mitigations/atc-mitigation"]
	path = mitigations/atc-mitigation
	url = https://github.com/atc-project/atc-mitigation
[submodule "splunk_alert/Sigma2SplunkAlert"]
	path = splunk_alert/Sigma2SplunkAlert
	url = https://github.com/P4T12ICK/Sigma2SplunkAlert
