<p class="auto-cursor-target"><br /></p>
<ac:structured-macro ac:name="details" ac:schema-version="1" ac:macro-id="28b7d879-550c-4376-96ff-fdbdfddf710b">
    <ac:rich-text-body>
        <p class="auto-cursor-target"><br /></p>
        <table class="wrapped confluenceTable">
            <colgroup>
                <col />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <th class="confluenceTh">Title</th>
                    <td class="confluenceTd">{{ title }}<br /></td>
                </tr>
                <tr>
                    <th class="confluenceTh">Description</th>
                    <td class="confluenceTd">{{ description }}<br /></td>
                </tr>
{% if tactics is defined and tactics|length %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Tactic</th>
                    <td class="confluenceTd">
                        {%- if tactics |length > 1 -%}<ul>{%endif%}
                        {%- for tactic_name, tactic_id in tactics %}
                            {%- if tactics |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/tactics/{{tactic_id}}">{{tactic_id}}: {{ tactic_name }}</a>{%- if tactics |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if tactics |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Tactic</th>
                    <td class="confluenceTd">
                        This Detection Rule wasn't mapped to ATT&amp;CK Tactic yet
                    </td>
                </tr>
{% endif %}
{% if techniques is defined and techniques|length %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Technique</th>
                    <td class="confluenceTd">
                        {%- if techniques |length > 1 -%}<ul>{%endif%}
                        {%- for technique_name, technique_id in techniques %}
                            {%- if techniques |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/techniques/{{technique_id}}">{{ technique_id }}: {{technique_name}}</a>{%- if techniques |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if techniques |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Technique</th>
                    <td class="confluenceTd">
                        This Detection Rule wasn't mapped to ATT&amp;CK Technique yet
                    </td>
                </tr>
{% endif %}
{% if other_tags is defined and other_tags|length %}
                <tr>
                    <th class="confluenceTh">Tags</th>
                    <td class="confluenceTd">
                        {%- if other_tags |length > 1 -%}<ul>{%endif%}
                        {%- for tag in other_tags %}
                            {%- if other_tags |length > 1 -%}<li>{%endif%}{{ tag }}{%- if other_tags |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if other_tags |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% endif %}
{% if data_needed is defined and data_needed is not none and data_needed|length %}
                <tr>
                    <th class="confluenceTh">Data Needed</th>
                    <td class="confluenceTd">
                        {%- if data_needed |length > 1 -%}<ul>{%endif%}
                        {%- for data_name, data_id in data_needed %}
                            {%- if data_needed |length > 1 -%}<li>{%endif%}{% if data_id != "None" %}<a href="{{confluence_viewpage_url}}{{data_id}}">{{ data_name }}</a>{% else %}{{ data_name }}{% endif %}{%- if data_needed |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if data_needed |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">Data Needed</th>
                    <td class="confluenceTd">
                        There is no documented Data Needed for this Detection Rule yet
                    </td>
                </tr>
{% endif %}
{% if enrichment is defined and enrichment is not none and enrichment|length %}
                <tr>
                    <th class="confluenceTh">Enrichment</th>
                    <td class="confluenceTd">
                        {%- if enrichment |length > 1 -%}<ul>{%endif%}
                        {%- for enrichment_name, enrichment_page_id in enrichment %}
                            {%- if enrichment |length > 1 -%}<li>{%endif%}{% if enrichment_page_id != "None" %}<a href="{{confluence_viewpage_url}}{{enrichment_page_id}}">{{ enrichment_name }}</a>{% else %}{{ enrichment_name }}{% endif %}{%- if enrichment |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if enrichment |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% endif %}
{% if triggers is defined and triggers is not none and triggers|length %}
                <tr>
                    <th class="confluenceTh">Trigger</th>
                    <td class="confluenceTd">
                        {%- if triggers |length > 1 -%}<ul>{%endif%}
                        {%- for trigger_name, trigger_id, trigger_page_id in triggers %}
                            {%- if triggers |length > 1 -%}<li>{%endif%}{% if trigger_id != "None" %}<a href="{{confluence_viewpage_url}}{{trigger_page_id}}">{{trigger_id}}: {{ trigger_name }}</a>{% else %}{{trigger_id}}: {{ trigger_name }}{% endif %}{%- if triggers |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if triggers |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">Trigger</th>
                    <td class="confluenceTd">
                        There is no documented Trigger for this Detection Rule yet
                    </td>
                </tr>
{% endif %}
{% if level is defined and level is not none and level|length %}
                <tr>
                    <th class="confluenceTh">Severity Level</th>
                    <td class="confluenceTd">{{ level }}<br /></td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">Severity Level</th>
                    <td class="confluenceTd">
                        Severity Level for this Detection Rule wasn't defined yet
                    </td>
                </tr>
{% endif %}
{% if falsepositives is defined and falsepositives is not none and falsepositives|length %}
                <tr>
                    <th class="confluenceTh">False Positives</th>
                    <td class="confluenceTd">
                        {%- if falsepositives |length > 1 -%}<ul>{%endif%}
                        {%- for falsepositive in falsepositives %}
                            {%- if falsepositives |length > 1 -%}<li>{%endif%}{{ falsepositive }}{%- if falsepositives |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if falsepositives |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">False Positives</th>
                    <td class="confluenceTd">
                        There are no documented False Positives for this Detection Rule yet
                    </td>
                </tr>
{% endif %}
{% if status is defined and status is not none and status|length %}
                <tr>
                    <th class="confluenceTh">Development Status</th>
                    <td class="confluenceTd">{{ status }}<br /></td>
                </tr>   
{% else %}
                <tr>
                    <th class="confluenceTh">Development Status</th>
                    <td class="confluenceTd">
                        Development Status wasn't defined for this Detection Rule yet
                    </td>
                </tr>
{% endif %}
{% if references is defined and references is not none and references|length %}
                <tr>
                    <th class="confluenceTh">References</th>
                    <td class="confluenceTd">
                        {%- if references |length > 1 -%}<ul>{%endif%}
                        {%- for reference in references %}
                            {%- if references |length > 1 -%}<li>{%endif%}<a href="{{ reference |e }}">{{ reference |e }}</a>{%- if references |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if references |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">References</th>
                    <td class="confluenceTd">
                        There are no documented References for this Detection Rule yet
                    </td>
                </tr>
{% endif %}
{% if author is defined and author is not none and author|length %}
                <tr>
                    <th class="confluenceTh">Author</th>
                    <td class="confluenceTd">{{ author }}<br /></td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">Author</th>
                    <td class="confluenceTd">
                        Author of this Detection Rule haven't introduced himself
                    </td>
                </tr>
{% endif %}
            </tbody>
        </table>
        <p class="auto-cursor-target"><br /></p>
    </ac:rich-text-body>
</ac:structured-macro>
<p class="auto-cursor-target"><br /></p>
{% if sigma_rule is defined and sigma_rule|length %}
<h1>Detection Rules</h1>
<pre><br/></pre>
<ac:structured-macro ac:name="expand">
    <ac:parameter ac:name="title">Sigma rule</ac:parameter>
    <ac:rich-text-body>
        <ac:structured-macro ac:name="code">
            <ac:parameter ac:name="language">yml</ac:parameter>
            <ac:plain-text-body>
                <![CDATA[{{ sigma_rule }}]]>
            </ac:plain-text-body>
        </ac:structured-macro>
    </ac:rich-text-body>
</ac:structured-macro>
{% else %}
{% endif %}
{% if esqs is defined and esqs|length %}
<ac:structured-macro ac:name="expand">
    <ac:parameter ac:name="title">Kibana query</ac:parameter>
    <ac:rich-text-body>
        <ac:structured-macro ac:name="code">
            <ac:parameter ac:name="language">text</ac:parameter>
            <ac:plain-text-body>
                <![CDATA[{{ esqs }}]]>
            </ac:plain-text-body>
        </ac:structured-macro>
    </ac:rich-text-body>
</ac:structured-macro>
{% else %}
{% endif %}
{% if xpackwatcher is defined and xpackwatcher|length %}
<ac:structured-macro ac:name="expand">
    <ac:parameter ac:name="title">X-Pack Watcher</ac:parameter>
    <ac:rich-text-body>
        <ac:structured-macro ac:name="code">
            <ac:parameter ac:name="language">text</ac:parameter>
            <ac:plain-text-body>
                <![CDATA[{{ xpackwatcher }}]]>
            </ac:plain-text-body>
        </ac:structured-macro>
    </ac:rich-text-body>
</ac:structured-macro>
{% else %}
{% endif %}
{% if graylog is defined and graylog|length %}
<ac:structured-macro ac:name="expand">
    <ac:parameter ac:name="title">Graylog</ac:parameter>
    <ac:rich-text-body>
        <ac:structured-macro ac:name="code">
            <ac:parameter ac:name="language">text</ac:parameter>
            <ac:plain-text-body>
                <![CDATA[{{ graylog }}]]>
            </ac:plain-text-body>
        </ac:structured-macro>
    </ac:rich-text-body>
</ac:structured-macro>
{% else %}
{% endif %}
