<p class="auto-cursor-target"><br /></p>
<ac:structured-macro ac:name="details" ac:schema-version="1" ac:macro-id="28b7d879-550c-4376-96ff-fdbdfddf710b">
   <ac:rich-text-body>
      <p class="auto-cursor-target"><br /></p>
      <table class="wrapped confluenceTable">
         <colgroup>
            <col />
            <col />
         </colgroup>
         <tbody>
            <tr>
               <th class="confluenceTh">Title</th>
               <td class="confluenceTd">{{ title|e}}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Description</th>
               <td class="confluenceTd">{{ description|e }}<br /></td>
            </tr>
{% if data_needed is defined and data_needed|length %}
            <tr>
               <th class="confluenceTh">Data Needed</th>
               <td class="confluenceTd">
                  {%- if data_needed |length > 1 -%}<ul>{%endif%}
                     {% for data_name, data_id in data_needed %}
                     {%- if data_needed |length > 1 -%}<li>{%endif%}<a href="{{confluence_viewpage_url}}{{data_id}}">{{ data_name }}</a>{%- if data_needed |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if data_needed |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
{% endif %}
{% if data_to_enrich is defined and data_to_enrich|length %}
            <tr>
               <th class="confluenceTh">Data to enrich</th>
               <td class="confluenceTd">
                  {%- if data_to_enrich |length > 1 -%}<ul>{%endif%}
                     {% for data_name, data_id in data_to_enrich %}
                     {%- if data_to_enrich |length > 1 -%}<li>{%endif%}<a href="{{confluence_viewpage_url}}{{data_id}}">{{ data_name }}</a>{%- if data_to_enrich |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if data_to_enrich |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
{% endif %}
{% if references is defined and references|length %}
            <tr>
               <th class="confluenceTh">References</th>
               <td class="confluenceTd">
                  {%- if references |length > 1 -%}<ul>{%endif%}
                     {% for ref in references %}
                     {%- if references |length > 1 -%}<li>{%endif%}<a href="{{ ref |e }}">{{ ref |e }}</a>{%- if references |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if references |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
{% endif %}
            <tr>
               <th class="confluenceTh">Author</th>
               <td class="confluenceTd">{{ author|e }}<br /></td>
            </tr>
{% if requirements is defined and requirements|length %}
            <tr>
               <th class="confluenceTh">Requirements</th>
               <td class="confluenceTd">
                  {%- if requirements |length > 1 -%}<ul>{%endif%}
                     {% for req_name, req_id in requirements %}
                     {%- if requirements |length > 1 -%}<li>{%endif%}<a href="{{confluence_viewpage_url}}{{req_id}}">{{ req_name }}</a>{%- if requirements |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if requirements |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
{% endif %}
{% if new_fields is defined and new_fields|length %}
            <tr>
               <th class="confluenceTh">New Fields</th>
               <td class="confluenceTd">
                  {%- if new_fields |length > 1 -%}<ul>{%endif%}
                     {% for field in new_fields %}
                     {%- if new_fields |length > 1 -%}<li>{%endif%}{{ field }}{%- if new_fields |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if new_fields |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
{% endif %}
         </tbody>
      </table>
      <p class="auto-cursor-target"><br /></p>
   </ac:rich-text-body>
</ac:structured-macro>
{% if config is defined and config|length %}
<h1>Config</h1>
<pre><br/></pre>
<ac:structured-macro ac:name="markdown"><ac:plain-text-body>
	<![CDATA[{{ config }}]]>
</ac:plain-text-body></ac:structured-macro>
{% else %}
{% endif %}
