<p class="auto-cursor-target"><br /></p>
<ac:structured-macro ac:name="details" ac:schema-version="1" ac:macro-id="28b7d879-550c-4376-96ff-fdbdfddf710b">
   <ac:rich-text-body>
      <p class="auto-cursor-target"><br /></p>
      <table class="wrapped confluenceTable">
         <colgroup>
            <col />
            <col />
         </colgroup>
         <tbody>
            <tr>
               <th class="confluenceTh">Title</th>
               <td class="confluenceTd">{{ title|e}}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Description</th>
               <td class="confluenceTd">{{ description|e }}<br /></td>
            </tr>
{% if tactics is defined and tactics|length %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Tactic</th>
                    <td class="confluenceTd">
                        {%- if tactics |length > 1 -%}<ul>{%endif%}
                        {%- for tactic_name, tactic_id in tactics %}
                            {%- if tactics |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/tactics/{{tactic_id}}">{{tactic_id}}: {{ tactic_name }}</a>{%- if tactics |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if tactics |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Tactic</th>
                    <td class="confluenceTd">
                        This Mitigation Policy wasn't mapped to ATT&amp;CK Tactic yet
                    </td>
                </tr>
{% endif %}
{% if techniques is defined and techniques|length %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Technique</th>
                    <td class="confluenceTd">
                        {%- if techniques |length > 1 -%}<ul>{%endif%}
                        {%- for technique_name, technique_id in techniques %}
                            {%- if techniques |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/techniques/{{technique_id}}">{{ technique_id }}: {{technique_name}}</a>{%- if techniques |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if techniques |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Technique</th>
                    <td class="confluenceTd">
                        This Mitigation Policy wasn't mapped to ATT&amp;CK Technique yet
                    </td>
                </tr>
{% endif %}
{% if mitigations is defined and mitigations|length %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Mitigation</th>
                    <td class="confluenceTd">
                        {%- if mitigations |length > 1 -%}<ul>{%endif%}
                        {%- for mitigation_name, mitigation_id in mitigations %}
                            {%- if mitigations |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/mitigations/{{mitigation_id}}">{{ mitigation_id }}: {{mitigation_name}}</a>{%- if mitigations |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if mitigations |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% else %}
                <tr>
                    <th class="confluenceTh">ATT&amp;CK Mitigation</th>
                    <td class="confluenceTd">
                        This Mitigation Policy wasn't mapped to ATT&amp;CK Mitigation yet
                    </td>
                </tr>
{% endif %}
{% if other_tags is defined and other_tags|length %}
                <tr>
                    <th class="confluenceTh">Tags</th>
                    <td class="confluenceTd">
                        {%- if other_tags |length > 1 -%}<ul>{%endif%}
                        {%- for tag in other_tags %}
                            {%- if other_tags |length > 1 -%}<li>{%endif%}{{ tag }}{%- if other_tags |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if other_tags |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% endif %}
                <tr>
                   <th class="confluenceTh">Platform</th>
                   <td class="confluenceTd">
                   {%- if platform |length > 1 -%}<ul>{%endif%}
                         {% for item in platform %}
                         {%- if platform |length > 1 -%}<li>{%endif%}{{ item|e }}{%- if platform |length > 1 -%}</li>{%endif%}
                         {% endfor %}
                   {%- if platform |length > 1 -%}</ul>{%endif%}
                   </td>
                </tr>
                <tr>
                   <th class="confluenceTh">Minimum Version</th>
                   <td class="confluenceTd">
                   {%- if minimum_version |length > 1 -%}<ul>{%endif%}
                         {% for item in minimum_version %}
                         {%- if minimum_version |length > 1 -%}<li>{%endif%}{{ item|e }}{%- if minimum_version |length > 1 -%}</li>{%endif%}
                         {% endfor %}
                   {%- if minimum_version |length > 1 -%}</ul>{%endif%}
                   </td>
                </tr>
            <tr>
               <th class="confluenceTh">References</th>
               <td class="confluenceTd">
                  {%- if references |length > 1 -%}<ul>{%endif%}
                     {% for ref in references %}
                     {%- if references |length > 1 -%}<li>{%endif%}<a href="{{ ref |e }}">{{ ref |e }}</a>{%- if references |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if references |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
         </tbody>
      </table>
      <p class="auto-cursor-target"><br /></p>
   </ac:rich-text-body>
</ac:structured-macro>
<h1>Configuration</h1>
<pre><br/></pre>
<ac:structured-macro ac:name="markdown"><ac:plain-text-body>
	<![CDATA[{{ configuration }}]]>
</ac:plain-text-body></ac:structured-macro>
