<p class="auto-cursor-target"><br /></p>
<ac:structured-macro ac:name="details" ac:schema-version="1" ac:macro-id="28b7d879-550c-4376-96ff-fdbdfddf710b">
   <ac:rich-text-body>
      <p class="auto-cursor-target"><br /></p>
      <table class="wrapped confluenceTable">
         <colgroup>
            <col />
            <col />
         </colgroup>
         <tbody>
            <tr>
               <th class="confluenceTh">ID</th>
               <td class="confluenceTd">{{  id|e }}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Description</th>
               <td class="confluenceTd">{{  description|e }}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Author</th>
               <td class="confluenceTd">{{  author|e }}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Creation Date</th>
               <td class="confluenceTd">{{  creation_date }}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Severity</th>
               <td class="confluenceTd">{{ severity|e}}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">TLP</th>
               <td class="confluenceTd">{{ tlp|e}}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">PAP</th>
               <td class="confluenceTd">{{ pap|e}}<br /></td>
            </tr>
{% if tactics is defined and tactics|length %}
             <tr>
                 <th class="confluenceTh">ATT&amp;CK Tactic</th>
                 <td class="confluenceTd">
                     {%- if tactics |length > 1 -%}<ul>{%endif%}
                     {%- for tactic_name, tactic_id in tactics %}
                         {%- if tactics |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/tactics/{{tactic_id}}">{{tactic_id}}: {{ tactic_name }}</a>{%- if tactics |length > 1 -%}</li>{%endif%}
                     {%- endfor %}
                     {%- if tactics |length > 1 -%}</ul>{%endif%}
                 </td>
             </tr>
{% endif %}
{% if techniques is defined and techniques|length %}
             <tr>
                 <th class="confluenceTh">ATT&amp;CK Technique</th>
                 <td class="confluenceTd">
                      {%- if techniques |length > 1 -%}<ul>{%endif%}
                      {%- for technique_name, technique_id in techniques %}
                            {%- if techniques |length > 1 -%}<li>{%endif%}<a href="https://attack.mitre.org/techniques/{{technique_id}}">{{ technique_id }}: {{technique_name}}</a>{%- if techniques |length > 1 -%}</li>{%endif%}
                      {%- endfor %}
                      {%- if techniques |length > 1 -%}</ul>{%endif%}
                 </td>
             </tr>
{% endif %}
{% if amitt_tactics is defined and amitt_tactics|length %}
             <tr>
                 <th class="confluenceTh">AM!TT Tactic</th>
                 <td class="confluenceTd">
                     {%- if amitt_tactics |length > 1 -%}<ul>{%endif%}
                     {%- for tactic_name, tactic_id in amitt_tactics %}
                         {%- if amitt_tactics |length > 1 -%}<li>{%endif%}<a href="https://vvx7.xyz/tactics/{{tactic_id}}">{{tactic_id}}: {{ tactic_name }}</a>{%- if amitt_tactics |length > 1 -%}</li>{%endif%}
                     {%- endfor %}
                     {%- if amitt_tactics |length > 1 -%}</ul>{%endif%}
                 </td>
             </tr>
{% endif %}
{% if amitt_techniques is defined and amitt_techniques|length %}
             <tr>
                 <th class="confluenceTh">AM!TT Technique</th>
                 <td class="confluenceTd">
                      {%- if amitt_techniques |length > 1 -%}<ul>{%endif%}
                      {%- for technique_name, technique_id in amitt_techniques %}
                            {%- if amitt_techniques |length > 1 -%}<li>{%endif%}<a href="https://vvx7.xyz/techniques/{{technique_id}}">{{ technique_id }}: {{technique_name}}</a>{%- if amitt_techniques |length > 1 -%}</li>{%endif%}
                      {%- endfor %}
                      {%- if amitt_techniques |length > 1 -%}</ul>{%endif%}
                 </td>
             </tr>
{% endif %}
{% if other_tags is defined and other_tags|length %}
                <tr>
                    <th class="confluenceTh">Tags</th>
                    <td class="confluenceTd">
                        {%- if other_tags |length > 1 -%}<ul>{%endif%}
                        {%- for tag in other_tags %}
                            {%- if other_tags |length > 1 -%}<li>{%endif%}{{ tag }}{%- if other_tags |length > 1 -%}</li>{%endif%}
                        {%- endfor %}
                        {%- if other_tags |length > 1 -%}</ul>{%endif%}
                    </td>
                </tr>
{% endif %}
{% if stages_with_id is defined and stages_with_id is not none and stages_with_id|length %}
  {% for stage_name, stage_actions in stages_with_id %}
    {%- if stage_actions is defined and stage_actions|length %}
               <tr>
                   <th class="confluenceTh">{{stage_name}}</th>
                   <td class="confluenceTd">
                       {%- if stage_actions |length > 1 -%}<ul>{%endif%}
                       {%- for action, action_id in stage_actions %}
                           {%- if stage_actions |length > 1 -%}<li>{%endif%}<a href="{{confluence_viewpage_url}}{{action_id}}">{{ action }}</a>{%- if stage_actions |length > 1 -%}</li>{%endif%}
                       {%- endfor %}
                       {%- if stage_actions |length > 1 -%}</ul>{%endif%}
                   </td>
               </tr>
    {%endif%}
  {% endfor %}
{% endif %}
         </tbody>
      </table>
      <p class="auto-cursor-target"><br /></p>
   </ac:rich-text-body>
</ac:structured-macro>
{% if workflow is defined and workflow|length %}
   <h1>Workflow</h1>
   <pre><br/></pre>
   <ac:structured-macro ac:name="markdown"><ac:plain-text-body>
   	<![CDATA[{{ workflow }}]]>
   </ac:plain-text-body></ac:structured-macro>
   {% for stage_name, stage_actions in stages %}
    {%- if stage_actions is defined and stage_actions is not none and stage_actions|length %}
      <h2>{{ stage_name }}</h2>
         {% for action_description, action_workflow in stage_actions%}
            <h3>{{ action_description }}</h3>
            <ac:structured-macro ac:name="markdown"><ac:plain-text-body>
               <![CDATA[{{ action_workflow }}]]>
            </ac:plain-text-body></ac:structured-macro>
         {%- endfor %}
    {%endif%}
   {%- endfor %}
{% endif %}

