<p class="auto-cursor-target"><br /></p>
<ac:structured-macro ac:name="details" ac:schema-version="1" ac:macro-id="28b7d879-550c-4376-96ff-fdbdfddf710b">
   <ac:rich-text-body>
      <p class="auto-cursor-target"><br /></p>
      <table class="wrapped confluenceTable">
         <colgroup>
            <col />
            <col />
         </colgroup>
         <tbody>
            <tr>
               <th class="confluenceTh">Title</th>
               <td class="confluenceTd">{{ title|e }}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">UseCase Name</th>
               <td class="confluenceTd">{{ usecase_name|e }}<br /></td>
            </tr>
            <tr>
               <th class="confluenceTh">Description</th>
               <td class="confluenceTd">{{ description|e }}<br /></td>
            </tr>
            <tr>
                <th class="confluenceTh">Data Needed</th>
                <td class="confluenceTd">
                    {%- if data_needed |length > 1 -%}<ul>{%endif%}
                    {%- for data_name, data_id in data_needed %}
                        {%- if data_needed |length > 1 -%}<li>{%endif%}{% if data_id != "None" %}<a href="{{confluence_viewpage_url}}{{data_id}}">{{ data_name }}</a>{% else %}{{ data_name }}{% endif %}{%- if data_needed |length > 1 -%}</li>{%endif%}
                    {%- endfor %}
                    {%- if data_needed |length > 1 -%}</ul>{%endif%}
                </td>
            </tr>
            <tr>
               <th class="confluenceTh">Logging Policy</th>
               <td class="confluenceTd">
                  {%- if loggingpolicy |length > 1 -%}<ul>{%endif%}
                     {% for policy_name, policy_id in loggingpolicy %}
                     {%- if loggingpolicy |length > 1 -%}<li>{%endif%}<a href="{{confluence_viewpage_url}}{{policy_id}}">{{ policy_name }}</a>{%- if loggingpolicy |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if loggingpolicy |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
            <tr>
               <th class="confluenceTh">Detection Rule</th>
               <td class="confluenceTd">
                  {%- if detectionrule |length > 1 -%}<ul>{%endif%}
                     {% for rule_name, rule_id in detectionrule %}
                     {%- if detectionrule |length > 1 -%}<li>{%endif%}<a href="{{confluence_viewpage_url}}{{rule_id}}">{{ rule_name }}</a>{%- if detectionrule |length > 1 -%}</li>{%endif%}
                     {% endfor %}
                  {%- if detectionrule |length > 1 -%}</ul>{%endif%}
               </td>
            </tr>
         </tbody>
      </table>
      <p class="auto-cursor-target"><br /></p>
   </ac:rich-text-body>
</ac:structured-macro>