| Title              | {{ title }} |
|:-------------------|:-----------------------------------------------------------------------------------------------------------------|
| **Description**    | {{ description }} |
| **Data Needed**    | {%- if data_needed is defined and data_needed|length %}<ul>{% for data in data_needed %}<li>[{{ data }}](../Data_Needed/{{data}}.md)</li>{% endfor %}</ul>{% else %} None{%endif%} |
| **Data to enrich** | {%- if data_to_enrich is defined and data_to_enrich|length %}<ul>{% for data in data_to_enrich %}<li>[{{ data }}](../Data_Needed/{{data}}.md)</li>{% endfor %}</ul>{% else %} None{%endif%} |
| **References**     | {%- if references is defined and references|length %}<ul>{% for ref in references %}<li>[{{ ref }}]({{ ref }})</li>{% endfor %}</ul>{% else %} None{%endif%} |
| **Author**         | {{ author }}           |
| **Requirements**   | {%- if requirements is defined and requirements|length %}<ul>{% for req in requirements %}<li>[{{ req }}](../Enrichments/{{req}}.md)</li>{% endfor %}</ul>>{% else %} None{%endif%} |
| **New fields**     | {%- if new_fields is defined and new_fields|length %}<ul>{% for field in new_fields %}<li>{{ field }}</li>{% endfor %}</ul>{% else %} None{%endif%} |


### Config

{{ config }}
