| Title                | {{ title }}                                                                                                                                                 |
|:---------------------|:------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Description          | {{ description }}                                                                                                                                           |
| ATT&amp;CK Tactic    | <ul>{% for tactic_name, tactic_id in tactics  %}<li>[{{tactic_id}}: {{tactic_name}}](https://attack.mitre.org/tactics/{{tactic_id}})</li>{% endfor %}</ul>  |
| ATT&amp;CK Technique | <ul>{% for technique in techniques  %}<li>[{{technique}}](https://attack.mitre.org/tactics/{{technique}})</li>{% endfor %}</ul>                             |
| Data Needed          | <ul>{% for data in data_needed %}<li>[{{ data }}](../Data_Needed/{{data}}.md)</li>{% endfor %}</ul>                                                         |
| Trigger              | {% if triggers is defined and triggers|length %}<ul>{% for trigger in triggers %}<li>[{{ trigger }}](../Triggering/{{trigger}}.md)</li>{% endfor %}</ul> {% else %} There is no Trigger for this technique yet. {% endif %} |
| Severity Level       | {{ level }}                                                                                                                                                 |
| False Positives      | <ul>{% for falsepositive in falsepositives %}<li>{{ falsepositive }}</li>{% endfor %}</ul>                                                                  |
| Development Status   | {{ status }}                                                                                                                                                |
| References           | <ul>{% for reference in references -%}<li>[{{ reference }}]({{ reference }})</li>{% endfor %}</ul>                                                          |
| Author               | {{ author }}                                                                                                                                                |
{% if other_tags is defined and other_tags|length %}| Other Tags           | <ul>{% for tag in other_tags %}<li>{{ tag }}</li>{% endfor %}</ul> | {% else %}{% endif %}
{% if sigma_rule is defined and sigma_rule|length %}
## Detection Rules

### Sigma rule

```
{{ sigma_rule }}
```

{% else %}
{% endif %}

{% if esqs is defined and esqs|length %}

### Kibana query

```
{{ esqs }}
```

{% else %}
{% endif %}

{% if xpackwatcher is defined and xpackwatcher|length %}

### X-Pack Watcher

```
{{ xpackwatcher }}
```

{% else %}
{% endif %}

{% if graylog is defined and graylog|length %}

### Graylog

```
{{ graylog }}
```

{% else %}
{% endif %}