| Title                | {{ title }}                                                                                                                                                 |
|:---------------------|:------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Description          | {{ description }}                                                                                                                                           |
| ATT&amp;CK Tactic    |  {% if tactics is defined and tactics is not none and tactics|length %}<ul>{% for tactic_name, tactic_id in tactics  %}<li>[{{tactic_id}}: {{tactic_name}}](https://attack.mitre.org/tactics/{{tactic_id}})</li>{% endfor %}</ul> {% else %} This Detection Rule wasn't mapped to ATT&amp;CK Tactic yet {% endif %} |
| ATT&amp;CK Technique | {% if techniques is defined and techniques is not none and techniques|length %}<ul>{% for technique_name, technique_id in techniques  %}<li>[{{technique_id}}: {{technique_name}}](https://attack.mitre.org/techniques/{{technique_id}})</li>{% endfor %}</ul> {% else %} This Detection Rule wasn't mapped to ATT&amp;CK Technique yet {% endif %} |
| Data Needed          | {% if data_needed is defined and data_needed is not none and data_needed|length %}<ul>{% for data in data_needed %}<li>[{{ data }}](../Data_Needed/{{data}}.md)</li>{% endfor %}</ul> {% else %} There is no documented Data Needed for this Detection Rule yet {% endif %} |
| Enrichment           | {% if enrichment is defined and enrichment is not none and enrichment|length %}<ul>{% for item in enrichment %}<li>[{{item}}](../Enrichments/{{item}}.md)</li>{% endfor %}</ul> {% else %} Data for this Detection Rule doesn't require any Enrichments. {% endif %} |
| Trigger              | {% if triggers is defined and triggers|length %}<ul>{% for trigger_name, trigger_id in triggers %}<li>[{{trigger_id}}: {{ trigger_name }}](../Triggers/{{trigger_id}}.md)</li>{% endfor %}</ul> {% else %} There is no documented Trigger for this Detection Rule yet {% endif %} |
| Severity Level       | {% if level is defined and level is not none and level|length %}{{ level }}{% else %} Severity Level for this Detection Rule wasn't defined yet {% endif %} |
| False Positives      | {% if falsepositives is defined and falsepositives is not none and falsepositives|length %}<ul>{% for falsepositive in falsepositives %}<li>{{ falsepositive }}</li>{% endfor %}</ul> {% else %} There are no documented False Positives for this Detection Rule yet {% endif %} |
| Development Status   | {% if status is defined and status is not none and status|length %}{{ status }}{% else %} Development Status wasn't defined for this Detection Rule yet {% endif %} |
| References           | {% if references is defined and references is not none and references|length %}<ul>{% for reference in references -%}<li>[{{ reference }}]({{ reference }})</li>{% endfor %}</ul> {% else %} There are no documented References for this Detection Rule yet {% endif %} |
| Author               | {% if author is defined and author is not none and author|length %}{{ author }}{% else %} Author of this Detection Rule haven't introduced himself {% endif %} |
{% if other_tags is defined and other_tags|length %}| Other Tags           | <ul>{% for tag in other_tags %}<li>{{ tag }}</li>{% endfor %}</ul> | {% else %}{% endif %}
{% if sigma_rule is defined and sigma_rule|length %}
## Detection Rules

### Sigma rule

```
{{ sigma_rule }}
```
{% else %}
{% endif %}

{% if det_queries is defined and det_queries|length %}
{% if queries is defined and queries|length %}
{% for query in queries %}
### {{query}}
    
```
{{det_queries.get(query)}}
```

{% endfor %}
{% else %}
{% endif %}
{% else %}
{% endif %}
