# Response Stages

| ID    | Name     | Description |
|:-----:|:--------:|-------------|
{%- for rs_id, rs_title, rs_description in rss_list -%}
{{ '\n' }}| [{{ rs_id }}](Response_Stages/{{rs_id}}.md) | [{{ rs_title }}](Response_Stages/{{rs_id}}.md) | {{rs_description}} |
{%- endfor -%}
